<header class="header-bg fixposition">
    <nav>
        <div class="row">
            <img src="/public/resources/img/logo/logo_black.png" alt="company logo" class="logo-fix">
            <ul class="main-nav-2">
                <li><a href="#">Home</a></li>
                <li><a href="#/aboutus">About us</a></li>
                <li><a href="#/projects">Projects</a></li>
                <li><a href="#/coming">Coming soon</a></li>
                <li><a href="#/construction">Construction</a></li>
                <li><a href="#/contactus">Contact us</a></li>
            </ul>
        </div>
    </nav>
</header>